
.formulaireInscription{
  padding-top:2em;
  padding-bottom: 4em;
  width: 100em;
  margin: 0 auto;
}

.chk_newsletter{
  padding-left:2em;
}

#messageErreurDetailsUtilisateur{
  color:"#dc3545";
}

#messageErreurPassword{
  margin-left:1.5em;
  color:"#dc3545";
}


#caracteristiquesMotDePasse{
  font-size: 0.62em;
}
